@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');

* {
    margin: 0px;
    top: 0px;
    padding: 0px;
}

body {
    font-family: "Lato", sans-serif;
    width: 100%;
    padding: 0px;
    margin: 0 auto; 
    background-color:#ffffff ;
}

body .body-home {
    width: 100%;
}

.hero {
    position: relative;   
}

.hero h1 {
    font-size: 30pt;
    position: absolute;
    top: 50px;
    left: 35%;
    color: #fff8e6;
    text-shadow: 2px 0px 3px #000;
}

.bg-img {
    display: grid   ;
    align-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 0 0 30px 30px;
}

.bg-p {
    float: right;
    width: 200px;
    border-radius: 10px;
}

.bg-p-2 {
    width: 250px;
    border-radius: 10px;
}

.grid-history {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    align-items: center;
    gap: 50px;
    
}



/* ----------- employee --------------- */

.employee-list {
    min-height: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 60px;
    background-color: #dbdbdb41;
    border-radius: 50px;
    margin: 20px;
    align-items: center;
}

.employee-div {
    text-align: center;
    
}

.employee-list p {
    text-align: center;
}

.employee-pic {
    width: 150px;
    border-radius: 50%;
}

.employee-h2 {
    font-size: 4em;
    padding: 0px;
    display: flex;
    align-items: center;
    align-content: center;
    background-color: #f0d993;
    border-radius: 40px;
    text-align: left;
}

article {
    position: absolute;
    top: 30%;
    right: 50%;
    transform: translate(50%);
    width: 65%;
    background-color:  rgba(35, 92, 199, 0.822);
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
}


/* ----------- maps --------------- */
.map {
    display: grid;
    grid-template-columns: 1fr  1fr;
    align-items: center;
    padding: 0px;
    margin: 0px;
    
}
.map h2 {
    font-size: 2em;
    bottom: 20px;
}
.map p {
    text-align: left;
}
.map h3 {
    font-size: 2em;
    padding-bottom: 10%;
}

.map-address {
    padding-left: 10%;
}

.map-name {
    padding: 10px 0;
}
.sub-title-map {
    font-size: 1.2em;
    margin-bottom: 10px;
}
.map-Address-grid {
    display: grid;
    grid-template-columns: 1fr 9fr;
    row-gap: 5px;
    align-items: center;
}
.map img {
    opacity: 20%;
    width: 30px;
}
iframe {
    display: flex;
    position: relative;
    border: 0px solid #ffffff;
}

article img {
    position: relative ;
    width: 100px;
}

h1 {
    font-family: var(--heading-font);
}


h1, h2, h3, h4, h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    
}

header img {
    width: 60px;
}

.grid-menu {
    display: grid;
    grid-template-columns: 1fr 2fr;
}   

nav {
    border-radius: 40px;
    background-color: var(--nav-bacground-color);
    font-size: 1.2rem;
    display: flex;
    text-decoration: none;
}
.line {
    
    padding: 20px 0 50px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
}
.pic-adventure {
    display: flex;
    flex-wrap: wrap;
}
.pic-items p {
    text-align: center;
    width: 100%;
}
.pic-items img {
    width: 200px;
    height: 150px;
    display: flex;
    border-radius: 10px;
}
nav a {
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    border-radius: 10px;
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
main{
    position: relative;
    padding: 0px 0px;
    width: 1200px;
    margin: 0 auto;
}



/* -------------form ------------- */

form {
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}
.form-group {
    margin-top: 15px;
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 96%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fEfdfd;
}
.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 10px;
}
.form-group button {
    padding: 10px 20px;
    background-color: #0064cf;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #0056b3;
}
.form-title {
    font-size: 2.5em;
    position: relative;
    text-align: center;
    padding: 2% 0;
}
.form-p {
    font-family: var(--paragraph-font);
    font-size: 1em;
    position: relative;
    text-align: center;
    padding: 4% 0;
    font-weight: 500;
}
.form-line-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.form-bold {
    font-weight: bold;
}

/*  ------- main text ------  */
.center-text {
    text-align: center;
    font-family: lato, bold;
    font-size: 1.2rem;
    color: #0056b3;
}
.center-text-h3 {
    text-align: center;
    padding: 10px;
}
.center-text-p {
    text-align: center;
    padding: 10px;
}
.center-text-p-2 {
    text-align: center;
    padding: 10px;
    color: #ccc;
}



/* ----------- main ----------- */
.trips-descriptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;
    background-color: #cccccc52;
    padding: 60px;
}
.trips-descriptions-img {
    width: 335px;
    max-height: 60%;
    border-radius: 10px;
}
/*  ----- new home -------- */
.container-2 {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.hero-2 {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 500px;
    color: white;
    text-align: center;
    background: url('images/Bg_rafing_hero.jpeg') no-repeat center center/cover;
}

.opacity-hero {
    opacity: 80%;
}
.hero-2 h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    text-shadow: 5px 5px 15px #000;
}
.newsletter-signup {
    margin: 40px 0;
    text-align: center;
}
.newsletter-signup form {
    display: inline-block;
}
.newsletter-signup input[type="text"],
.newsletter-signup input[type="email"] {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.newsletter-signup input[type="submit"] {
    padding: 10px 20px;
    background-color: #396E94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.cta {
    text-align: center;
    margin: 40px 0;
}
.cta a {
    padding: 15px 30px;
    background-color: #396E94;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.2em;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    margin: 40px 0;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.11);
    padding: 20px;
    border: 0px solid #ddd;
    border-radius: 15px;
    text-align: center;
    box-shadow: 5px 5px 25px #0000001c;
}
.grid-item img {
    max-width: 100%;
    border-radius: 10px;
}

/* ------ table ------ */
.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 80px 0;
    background-color: var(--backgroud-color-grey);    
}
.container h1 {
    padding: 20px;
    font-size: 3rem;
    text-align: center;
    background-color: var(--backgroud-color-grey);
}
.container h2 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    background-color: #ffffff17;
}
.container-table {
    width: 80%;
    display: block;
    margin: auto;

}
.trip {
    margin-bottom: 40px;
}
.trip img {
    width: 300px;
    height: auto;
    border-radius: 30px;
    padding: 15px;
}
.trip h3 {
    font-family: lato;
    text-align: center;
    font-size: 1.5rem;
    color: var(--primary-color);
}
.trip p {
    padding: 10px;
    font-size: 0.8em;
}
.trip-details {
    font-size: 1em;
    list-style-type: none;
    padding: 10px;
}
.trip-details li {
    margin-bottom: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ddd;
}
th, td {
    padding: 15px;
    text-align: left;
}
th {
    background-color: #396E94;
    color: white;
}

.section-button {
    margin: 40px;
}
.button {
    position: relative;
    display: block;
    margin: 30px auto;
    background-color:var(--nav-bacground-color);
    padding: 10px 20px;
    border: 0px;
    border-radius: 25px;
    box-shadow: 5px 7px 4px #ffffff81;
}
.button a {
    text-decoration: none;
    font-family: lato, bold;
    color: #fff;
    padding: 0 40px;
    font-size: 2rem;
}


/* ---------- section --------------- */
section {
    padding: 70px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section p {
    text-align: justify;
}

section h2 {
    width: 40%;
    position: relative;
    margin: 0 30% 0 30% ;
    text-align: center;
}
/* ----- footer -------------- */
footer {
    height: 120px;
    border-radius: 30px 30px 0 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
    width: 100%;
    background-color: #f0d993;
    padding-bottom: 5%;
}
footer p {
    text-align: center;
}

footer a img {
    width: 50px;
    text-decoration: none;
}
footer a.link {
    text-decoration: none;
    background-color: #0056b3;
    font-weight: 600;
    color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 50px;
    width: 200px;
}

footer nav {
    display: flex;
    align-items: center;
    align-content: center;
    background-color: var(--accent1-color)
}

/* --------- root ---------- */

:root {
    --primary-color: #1c77b8;
    --secondary-color: #e7c24f;
    --accent1-color: #f0d993;
    --accent2-color: #b6d0e2;
    --backgroud-color-grey : #e9e9e952;

    --heading-font: "Poetsen One", bold;
    --paragraph-font: "Lato", bold;

    --nav-bacground-color: #216a9e;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #3486f1; 
    --nav-hover-background-color: #9adaff;

}