@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poetsen+One&display=swap');

* {
    margin: 0px;
    top: 0px;
    padding: 0px;
}

body {
    font-family: "Lato", sans-serif;
    max-width: 1000px;
    padding: 0px;
    margin: 0 auto; 
    background-color:#fff8e6 ;
}

.hero {
    position: relative;   

}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 35%;
    color: #fff8e6;
    text-shadow: 2px 0px 3px #000;
}

.bg-img {
    display: block;
    width: 100%;
    height: auto;
}

.bg-p {
    float: right;
    width: 200px;
}

article {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%);
    width: 80%;
    background-color:  rgba(35, 92, 199, 0.822);
    padding: 20px;
    border-radius: 20px;
    color: #ffffff;
}

header img {
    width: 60px;
}

article img {
    position: relative ;
    width: 100px;
}

h1 {
    font-family: var(--heading-font);
}


h1, h2, h3, h4, h5,h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: flex;
}

nav {
    border-radius: 40px;
    background-color: var(--nav-bacground-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

footer nav {
    width: 50px;
}

:root {
    --primary-color: #288cd3;
    --secondary-color: #e7c24f;
    --accent1-color: #f0d993;
    --accent2-color: #b6d0e2;

    --heading-font: "Poetsen One", bold;
    --paragraph-font: "Lato", sans-serif;

    --nav-bacground-color: #3289c7;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #4180d1; 
    --nav-hover-background-color: #9adaff;

}